In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('../data/movie.csv')

In [3]:
movie_actor_director = movies[
    [
        'actor_1_name',
        'actor_2_name',
        'actor_3_name',
        'director_name',
    ]
]

In [4]:
movie_actor_director

,actor_1_name,actor_2_name,actor_3_name,director_name
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan
4,Doug Walker,Rob Walker,NaN,Doug Walker
...,...,...,...,...
4911,Eric Mabius,Daphne Zuniga,Crystal Lowe,Scott Smith
4912,Natalie Zea,Valorie Curry,Sam Underwood,NaN
4913,Eva Boehnke,Maxwell Moody,David Chandler,Benjamin Roberds
4914,Alan Ruck,Daniel Henney,Eliza Coupe,Daniel Hsia
4915,John August,Brian Herzlinger,Jon Gunn,Jon Gunn

In [5]:
type(movie_actor_director[['actor_1_name']])

pandas.core.frame.DataFrame

In [6]:
type(movie_actor_director['actor_1_name'])

pandas.core.series.Series

In [7]:
type(movie_actor_director.loc[:, ['actor_1_name']])

pandas.core.frame.DataFrame

In [8]:
type(movie_actor_director.loc[:, 'actor_1_name'])

pandas.core.series.Series