In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('../data/movie.csv')

In [7]:
movies.shape

(4916, 28)

In [8]:
movies.size

137648

In [9]:
movies.ndim

2

In [10]:
len(movies)

4916

In [11]:
movies.count()

color                   4897
director_name           4814
num_critic              4867
duration                4901
director_fb             4814
actor_3_fb              4893
actor_2_name            4903
actor_1_fb              4909
gross                   4054
genres                  4916
actor_1_name            4909
movie_title             4916
num_voted_users         4916
cast_total_fb           4916
actor_3_name            4893
facenumber_in_poster    4903
plot_keywords           4764
movie_imdb_link         4916
num_user                4895
language                4904
country                 4911
content_rating          4616
budget                  4432
title_year              4810
actor_2_fb              4903
imdb_score              4916
aspect_ratio            4590
movie_fb                4916
dtype: int64

In [12]:
movies.min()

num_critic                                                              1
duration                                                                7
director_fb                                                             0
actor_3_fb                                                              0
actor_1_fb                                                              0
gross                                                                 162
genres                                                             Action
movie_title                                                       #Horror
num_voted_users                                                         5
cast_total_fb                                                           0
facenumber_in_poster                                                    0
movie_imdb_link         http://www.imdb.com/title/tt0006864/?ref_=fn_t...
num_user                                                                1
budget                                                                218
title_year                                                           1916
actor_2_fb                                                              0
imdb_score                                                            1.6
aspect_ratio                                                         1.18
movie_fb                                                                0
dtype: object

In [14]:
movies.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic,4867.0,1.379889e+02,1.202394e+02,1.00,49.00,108.00,191.00,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_fb,4814.0,6.910145e+02,2.832954e+03,0.00,7.00,48.00,189.75,2.300000e+04
actor_3_fb,4893.0,6.312763e+02,1.625875e+03,0.00,132.00,366.00,633.00,2.300000e+04
actor_1_fb,4909.0,6.494488e+03,1.510699e+04,0.00,607.00,982.00,11000.00,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,5019656.25,25043962.00,61108412.75,7.605058e+08
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.00,8361.75,33132.50,93772.75,1.689764e+06
cast_total_fb,4916.0,9.579816e+03,1.816432e+04,0.00,1394.75,3049.00,13616.75,6.567300e+05
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user,4895.0,2.676688e+02,3.729348e+02,1.00,64.00,153.00,320.50,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,6000000.00,19850000.00,43000000.00,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_fb,4903.0,1.621924e+03,4.011300e+03,0.00,277.00,593.00,912.00,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.85,2.35,2.35,1.600000e+01
movie_fb,4916.0,7.348294e+03,1.920602e+04,0.00,0.00,159.00,2000.00,3.490000e+05

In [15]:
movies.describe(percentiles=[0.01,0.3,0.99]).T

,count,mean,std,min,1%,30%,50%,99%,max
num_critic,4867.0,1.379889e+02,1.202394e+02,1.00,2.00,60.00,108.00,5.466800e+02,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,43.00,95.00,103.00,1.890000e+02,5.110000e+02
director_fb,4814.0,6.910145e+02,2.832954e+03,0.00,0.00,11.00,48.00,1.600000e+04,2.300000e+04
actor_3_fb,4893.0,6.312763e+02,1.625875e+03,0.00,0.00,176.00,366.00,1.100000e+04,2.300000e+04
actor_1_fb,4909.0,6.494488e+03,1.510699e+04,0.00,6.08,694.00,982.00,4.492000e+04,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,8474.80,7914068.60,25043962.00,3.264128e+08,7.605058e+08
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.00,53.00,11864.50,33132.50,6.815846e+05,1.689764e+06
cast_total_fb,4916.0,9.579816e+03,1.816432e+04,0.00,6.00,1684.50,3049.00,6.241390e+04,6.567300e+05
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,0.00,1.00,8.000000e+00,4.300000e+01
num_user,4895.0,2.676688e+02,3.729348e+02,1.00,1.94,80.00,153.00,1.999240e+03,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,60000.00,8000000.00,19850000.00,2.000000e+08,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1951.00,2000.00,2005.00,2.016000e+03,2.016000e+03
actor_2_fb,4903.0,1.621924e+03,4.011300e+03,0.00,0.00,345.00,593.00,1.700000e+04,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,3.10,6.00,6.60,8.500000e+00,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.33,1.85,2.35,4.000000e+00,1.600000e+01
movie_fb,4916.0,7.348294e+03,1.920602e+04,0.00,0.00,0.00,159.00,9.385000e+04,3.490000e+05

In [16]:
movies.min(skipna=False)

num_critic                                                            NaN
duration                                                              NaN
director_fb                                                           NaN
actor_3_fb                                                            NaN
actor_1_fb                                                            NaN
gross                                                                 NaN
genres                                                             Action
movie_title                                                       #Horror
num_voted_users                                                         5
cast_total_fb                                                           0
facenumber_in_poster                                                  NaN
movie_imdb_link         http://www.imdb.com/title/tt0006864/?ref_=fn_t...
num_user                                                              NaN
budget                                                                NaN
title_year                                                            NaN
actor_2_fb                                                            NaN
imdb_score                                                            1.6
aspect_ratio                                                          NaN
movie_fb                                                                0
dtype: object

In [18]:
def shorten(col):
    return col.replace('facebook_likes', 'fb').replace('_for_reviews', '')

movies = movies.rename(columns=shorten)

In [20]:
movies.isnull().head()

,color,director_name,num_critic,duration,director_fb,actor_3_fb,actor_2_name,actor_1_fb,gross,genres,...,num_user,language,country,content_rating,budget,title_year,actor_2_fb,imdb_score,aspect_ratio,movie_fb
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False

In [22]:
movies.isnull().sum()

color                    19
director_name           102
num_critic               49
duration                 15
director_fb             102
actor_3_fb               23
actor_2_name             13
actor_1_fb                7
gross                   862
genres                    0
actor_1_name              7
movie_title               0
num_voted_users           0
cast_total_fb             0
actor_3_name             23
facenumber_in_poster     13
plot_keywords           152
movie_imdb_link           0
num_user                 21
language                 12
country                   5
content_rating          300
budget                  484
title_year              106
actor_2_fb               13
imdb_score                0
aspect_ratio            326
movie_fb                  0
dtype: int64

In [23]:
movies.isnull().sum().sum()

2654

In [24]:
movies.isnull().any()

color                    True
director_name            True
num_critic               True
duration                 True
director_fb              True
actor_3_fb               True
actor_2_name             True
actor_1_fb               True
gross                    True
genres                  False
actor_1_name             True
movie_title             False
num_voted_users         False
cast_total_fb           False
actor_3_name             True
facenumber_in_poster     True
plot_keywords            True
movie_imdb_link         False
num_user                 True
language                 True
country                  True
content_rating           True
budget                   True
title_year               True
actor_2_fb               True
imdb_score              False
aspect_ratio             True
movie_fb                False
dtype: bool

In [25]:
movies.isnull().any().any()

True

In [27]:
movies.isnull().dtypes.value_counts()

bool    28
dtype: int64

In [28]:
movies[['color', 'movie_title', 'color']].max()

Series([], dtype: float64)

In [29]:
movies.select_dtypes(['object']).fillna('').max()

color                                                          Color
director_name                                          Étienne Faure
actor_2_name                                           Zubaida Sahar
genres                                                       Western
actor_1_name                                           Óscar Jaenada
movie_title                                                 Æon Flux
actor_3_name                                           Óscar Jaenada
plot_keywords                                    zombie|zombie spoof
movie_imdb_link    http://www.imdb.com/title/tt5574490/?ref_=fn_t...
language                                                        Zulu
country                                                 West Germany
content_rating                                                     X
dtype: object

In [30]:
movies.select_dtypes(['object'])

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
0,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
1,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13
2,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13
3,Color,Christopher Nolan,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13
4,NaN,Doug Walker,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,Daphne Zuniga,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,Crystal Lowe,fraud|postal worker|prison|theft|trial,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,English,Canada,NaN
4912,Color,NaN,Valorie Curry,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,Sam Underwood,cult|fbi|hideout|prison escape|serial killer,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,English,USA,TV-14
4913,Color,Benjamin Roberds,Maxwell Moody,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,David Chandler,NaN,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,English,USA,NaN
4914,Color,Daniel Hsia,Daniel Henney,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,Eliza Coupe,NaN,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,English,USA,PG-13
4915,Color,Jon Gunn,Brian Herzlinger,Documentary,John August,My Date with Drew,Jon Gunn,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,English,USA,PG